extends layout
block content
    .row.page-header
        .col-lg-12
            h1= title
    .row
        .col-xs-12.col-md-8
            .row
                .col-xs-12.col-sm-8
                    .panel.panel-primary
                        .panel-heading
                        .panel-body
                .col-xs-12
                    a.btn.btn-warning( href="/conference/" ) Back to Conference
                        //TODO: put image banner, name, description, link to their website for the according sponsor