extends layout
block content
  .row.page-header
   .col-lg-12
      h1= title
  .row
    .col-xs-12.col-md-8
      .row
        .col-xs-12.col-sm-8
          .panel.panel-primary
            .panel-heading
              h2.panel-title WELCOME
            .panel-body
              p: #[a(href= gettingstarted.bylaws target="_blank") Bylaws]
              p: #[a(href= gettingstarted.membership target="_blank") Membership]
          .panel.panel-primary
            .panel-heading
              h2.panel-title SOCIAL MEDIA
            .panel-body
              p: #[a(href= socialinks.facebook target="_blank") Facebook]
              p: #[a(href= socialinks.instagram target="_blank") Instagram]
              p: #[a(href= socialinks.twitter target="_blank") Twitter]
    .col-xs-12.col-md-4
      p.lead ABOUT US
      p= sidebar
        