extends layout
block content
    .row.page-header
        .col-lg-12
            h1= title
    .row
        .col-xs-12.col-md-8
            .row
                .col-xs-12.col-sm-7
                    .panel.panel-primary
                        .panel-heading
                        .panel-body
                            .row
                                .col-xs-6
                                    p Session: How to eat 5lbs of pasta
                                    p Start Time: 7:00pm | End Time: 11:00pm
                                    p Speaker: Homer Simpson
                                    p Place: Disney
                                    p Description: The speaker will show how to compress 5 lbs of pasta so it's easy to eat.
                .col-xs-12
                    a.btn.btn-warning( href="/conference/" ) Back to Conference
                        //TODO: put image banner, name, description, link to their website for the according sponsor