<navigation>
</navigation>

<div class="container">
    <icon></icon>
    <page-header content="vm.pageHeader"></page-header>
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body" ng-repeat="wifi in vm.wifi">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div ng-if="vm.isAdmin" ng-click="" class="btn btn-danger pull-right btn-sm">
                                        <span class="glyphicon glyphicon-trash"> </div>
                                    <p>{{ wifi.description }} </p>
                                    <p>{{ wifi.username }}</p>
                                    <p>{{ wifi.password }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-xs-10">
                        <a href="/conference/" class="btn btn-warning">Back to Conference</a>
                        <a ng-if="vm.isAdmin" ng-click="" class="btn btn-success">Add wifi</a>
                        <a ng-if="vm.isAdmin" ng-click="" class="btn btn-danger">Reset</a>
                    </div>
                </div>
            </div>
        </div>
        <footer-generic></footer-generic>
    </div>